---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Avatar  from "../../images/oip.jpg";

---

<Layout title='Blog'>
  <h1>About</h1>
  <hr class="my-8">
  <div class="flex flex-row gap-2">
    <span class="items-center text-center">
      <div class="w-48 h-48 rounded-full overflow-hidden">
        <Image src={Avatar} alt='profile picture' format='webp'/>
      </div>
      <h1 class="text-4xl">My Name</h1>
      <h2 class="text-3xl">Second-Year</h2>
    </span>
    <p class="mt-4 text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aut officia nihil ipsa laudantium necessitatibus eligendi dolor beatae itaque illum unde nulla omnis modi voluptates, quos delectus distinctio porro tempore!</p>
  </div>

</Layout>