@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

:root.dark, .dark ::backdrop {
  color-scheme: dark;
  --color-orange: var(--color-base-orange), 60%;
  --theme-accent-opacity: 0.4;
  --theme-accent: hsla(var(--color-orange), 1);
  --theme-accent-secondary: hsla(var(--color-orange), 1);
  --theme-text-accent: hsla(var(--color-orange), 1);
  --theme-dim: hsla(var(--color-gray-90), 0.3);
  --theme-dim-light: hsla(var(--color-gray-90), 0.2);
  --theme-dim-lighter: hsla(var(--color-gray-90), 0.1);
  --theme-divider: hsla(var(--color-gray-95), 0.1);
  --theme-shade-subtle: hsla(var(--color-gray-95), 0.4);
  --theme-text: hsla(var(--color-gray-90), 1);
  --theme-text-light: hsla(var(--color-gray-80), 1);
  --theme-text-lighter: hsla(var(--color-gray-70), 1);
  --theme-bg: hsl(256, 27%, 19%);
  --theme-bg-gradient-top: var(--theme-bg);
  --theme-bg-gradient-bottom: hsl(251, 29%, 11%);
  --theme-bg-hover: hsla(var(--color-purple), 0.2);
  --theme-bg-offset: #0008;
  --theme-backdrop-overlay: hsla(var(--color-gray-10), 0.8);
  --theme-code-inline-bg: #ffffff16;
  --theme-code-inline-text: var(--theme-text-light);
  --theme-code-bg: hsla(257, 31%, 11%, 1);
  --theme-code-tabs: hsla(261, 40%, 21%, 1);
  --theme-code-text: hsla(var(--color-base-white), 80%, 1);
  --theme-navbar-bg: var(--theme-bg);
  --theme-selection-color: hsla(var(--color-base-white), 100%, 1);
  --theme-code-mark-bg: hsl(224, 60%, 25%);
  --theme-code-mark-border: hsl(225, 42%, 46%);
  --theme-code-ins-bg: hsl(122, 29%, 17%);
  --theme-code-ins-border: hsl(128, 41%, 32%);
  --theme-code-ins-text: hsl(128, 31%, 55%);
  --theme-code-del-bg: hsl(337, 47%, 19%);
  --theme-code-del-border: hsl(340, 34%, 43%);
  --theme-code-del-text: hsl(340, 24%, 65%);
  --theme-glow-highlight: hsla(var(--color-base-purple), 50%, 1);
  --theme-glow-diffuse: hsla(var(--color-base-purple), 35%, 0.4);
}

html {
    font-family: system-ui, sans-serif;
}


* {
  box-sizing: border-box;
}
  
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #000000;
  font:bold;
  @apply text-slate-900 dark:text-slate-200;
}

p {
  @apply text-slate-700 dark:text-slate-400
}

h2 {
  margin: 1rem 0;
  font:bold;
  font-size: 2rem;
}


body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  @apply antialiased bg-white bg-fixed dark:bg-gradient-to-tr from-slate-900 to-slate-800;
}

code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}