---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import CardBlog from '../../components/CardBlog.astro';
// 1. Generate a new path for every collection entry
export const prerender = true;
export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs');
  let tags = new Set();
  blogEntries.forEach(entry => {
    entry.data.tags.forEach(tag => tags.add(tag));
  });
  return [...tags].map(tag => ({
    params: { tag : tag }, props: { tag },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { tag } = Astro.props;
const posts = await getCollection("blogs", ({ data }) => {
  return data.tags.includes(tag);
});
---
<Layout title='Blog'>
  <h2>Result for {tag}</h2>
  <ul class="flex flex-col gap-1">
    {posts.map(post => <li><CardBlog object={post} /></li>)}
  </ul>
</Layout>