---
import Layout from '../layouts/Layout.astro';
import CardBlog from '../components/CardBlog.astro';
import { getCollection, getEntry } from 'astro:content';
const posts = await getCollection("blogs");
posts.sort((a, b) => (a.data.pubDate > b.data.pubDate) ? -1 : 1);
const posts_show = posts.slice(0, 8);
---

<Layout title='Blog'>
  <h1>Main Page</h1>
  <h2>Recent Blog</h2>
  <ul class="flex flex-col gap-1">
    {posts_show.map(post => <li><CardBlog object={post} /></li>)}
  </ul>
</Layout>