---
import Layout from '../layouts/Layout.astro';
import CardBlog from '../components/CardBlog.astro';

---

<Layout title='Blog'>
  <h1>Main Page</h1>
  <h2>Blog</h2>
  <ul>
    <li><CardBlog /></li>
  </ul>
</Layout>