---
import Layout from '../layouts/Layout.astro';
import CardBlog from '../components/CardBlog.astro';
import type { Frontmatter} from "../utils/types/typefrontmatter.ts";
const posts = await Astro.glob<Frontmatter>('./posts/*.md');
posts.sort((a, b) => (a.frontmatter.pubDate > b.frontmatter.pubDate) ? -1 : 1);
const posts_show = posts.slice(0, 8);
---

<Layout title='Blog'>
  <h1>Main Page</h1>
  <h2>Recent Blog</h2>
  <ul class="flex flex-col gap-1">
    {posts_show.map(post => <li><CardBlog url={post.url} object={post.frontmatter} /></li>)}
  </ul>
</Layout>