---
import ThemeIcon from "./ThemeIcon.astro";

---

<header>
    <nav class="bg-red-600 flex flex-row justify-between"> 
        <span class="flex flex-row gap-3 w-1/2 text-3xl text-black dark:text-white">
            <a href="/" >Home</a>
            <a href="/blog" >Blog</a>
            <a href="/about" >About</a>
        </span>
        <ThemeIcon />
    </nav>
</header>