---
import "../styles/global.css";
import Navigation from '../components/Navigation.astro';
import { ViewTransitions } from "astro:transitions";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="/prism.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>Blog</title>
	</head>
	<body>
		<Navigation />
        <h1>{frontmatter.title}</h1>
        <p>Written by {frontmatter.author}</p>
        <article class="prose dark:prose-invert" >
            <slot />
        </article>
        <script src="/prism.js" is:inline></script>
	</body>
</html>