---
import "../styles/global.css";
import Navigation from '../components/Navigation.astro';
import { ViewTransitions } from "astro:transitions";
import { formatDate } from "../utils/formatdate";
const { frontmatter } = Astro.props;
const formatteddate = formatDate(frontmatter.pubDate);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="/prism.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>Blog</title>
	</head>
	<body>
		<Navigation />
        <h1 class="font-bold">{frontmatter.title}</h1>
		<div class="flex flex-row justify-between">
			<small>Written by {frontmatter.author}</small>
			<small>Published on {formatteddate}</small>
		</div>
        <article class="prose dark:prose-invert pb-10 prose-headings:font-bold prose-li:font-bold my-10" >
            <slot />
        </article>
        <script src="/prism.js" is:inline></script>
	</body>
</html>